/sandbox/
*.user
*.suo
bin/
obj/
/packages/
*.ncrunchsolution
*.ncrunchproject
_NCrunch*/
Release/
*.nupkg
# Will need to be supplied by consumer
Libs/Sitecore/*.dll
MvcAreas.Custom.Tests/license.xml
