<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <mvc.renderRendering>
        <processor patch:before="*[1]" type="MvcAreas.Custom.Render.AddRenderingArea, MvcAreas.Custom" />
      </mvc.renderRendering>

      <mvc.getArea>
        <processor type="MvcAreas.Custom.GetArea.GetAreaByRenderingPath, MvcAreas.Custom" />
        <processor type="MvcAreas.Custom.GetArea.GetAreaByRenderingFolder, MvcAreas.Custom" />
      </mvc.getArea>

    </pipelines>
  </sitecore>
</configuration>